.articles{
    height: 1060px;
    overflow: hidden;
}
.articles__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.articles__title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.article__line{
    background-color: #000;
}
.articles__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.articles__list-card{
    width: 350px;
    height: 512px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    background-color: #fff;
}
.articles__list-card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    height: 53%;
}
.articles__list-card-content h3{
    font-weight: 600;
    line-height: 33px;
}
.articles__list-card-content p{
    color: rgb(142, 138, 152);
    line-height: 28px;
}
.articles__list-card-link{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    color: #458FF6;
    font-weight: 500;
    text-decoration: none;
}
.articles__list-card-link img{
    transform: rotate(-90deg);
}
.articles__dots{
    position: absolute;
    left: -50px;
    top: 235px;
    z-index: -1;
}
.articles__cloud{
    position: absolute;
    top: 200px;
    right: -650px;
    z-index: -2;
}