.footer{
    overflow: hidden;
    position: relative;
    height: 150px;
    background: linear-gradient(180deg, #67C3F3 0%, #5A98F2 100%);
    color: #fff;
}
.footer__container{
    justify-content: space-between;
    align-items: center;
}
.footer__logo-icon{
    background-color: #fff;
    color: #458FF6;
}
.footer__nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
    list-style: none;
    font-style: 18px;
    font-weight: 500;
}
.footer__nav ul li{
    transition: .3s;
}
.footer__nav ul li:hover{
    font-weight: 600;
    transition: .3s;
}
.footer__dots{
    position: absolute;
    left: -20px;
    bottom: -20px;
}
