.header{
    height: 155px;
}
.header__container{
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    color: rgb(142, 138, 152);
}
.header__nav ul li{
    cursor: pointer;
    transition: .3s;
}
.header__nav ul li:hover{
    color: rgb(29, 21, 50);
    font-weight: 500;
    transition: .3s;
}
.header__logo-icon{
    background-color: #458FF6;
    color: #fff;
}
.header__burger{
    width: 40px;
    display: none;
}
@media (max-width: 810px) {
    .header__nav ul{
        display: none;
        width: 100%;
        border: 1px solid #000;
    }
    .header__burger{
        display: block;
    }
}

