.home{
    height: 685px;
}
.home__container{
    justify-content: space-between;
    align-items: center;
}
.home__illustration{
    width: 665px;
    height: 434px;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px); /* піднімається на 20px */
    }
    100% {
      transform: translateY(0px);
    }
  }
.home__main{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.home__main-title{
    line-height: 45px;
}
.home__main-line{
    background-color: #000;
}
.home__main-text{
    color: rgb(142, 138, 152);
    line-height: 30px;
}
@media (max-width: 1100px) {
  .home{
      height: auto;
  }
  .home__illustration{
      display: none;
  }
  .home__container{
      justify-content: center;
      text-align: center;
  }
  .home__main{
      align-items: center;
  }
}
@media (max-width: 398px) {
  .home__main-text{
    font-size: 12px;
  }
}
