.review{
    height: 768px;
    background-color: #F3F8FE;
}
@media (max-width: 1015px) {
    .review{
        height: auto;
        padding: 100px 0;
    }
}
.review__container{
    flex-direction: column;
    gap: 45px;
    align-items: center;
    justify-content: center;
}
.review__content{
    width: 100%;
    height: 425px;
    background: linear-gradient(180deg, #67C3F3 0%, #5A98F2 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 75px 115px;
}
@media (max-width: 1015px) {
    .review__content{
        height: auto;
        padding: 50px 30px;
        gap: 40px;
    }
}
.review__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
@media (max-width: 425px) {
    .review__title h2{
        font-size: 20px;
    }
}
.review__title h2{
    color: #fff;
    text-align: center;
}
.review__line{
    background-color: #fff;
}
.review__card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1015px) {
    .review__card{
        flex-direction: column;
        gap: 30px;
    }
}
.review__card-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.review__card-info div{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #fff;
}
.review__card-info div p{
    font-weight: 300;
}
/* @media (max-width: 460px) {
    .review__card-info img{
        font-size: 12px;
    }
} */
.review__card-text{
    color: #fff;
    line-height: 30px;
    font-weight: 300;
}
@media (max-width: 460px) {
    .review__card-info img{
        width: 90px;
    }
    .review__card-text br{
        display: none;
    }
}
.review__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.review__pagination img{
    cursor: pointer;
}
.review__pagination-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.review__pagination-list div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(201, 219, 248);
    cursor: pointer;
}
@media (max-width: 475px) {
    .review__pagination{
        gap: 20px;
    }
    .review__pagination img{
        width: 30px;
    }
    .review__pagination-list{
        gap: 10px;
    }
    .review__pagination-list div{
        width: 7px;
        height: 7px;
    }
}

